
ignore_list = [
    "kronogenics",
    "fiordhraoi",
    "BlueIsTrue"
]

ignore_ids = [
    63944,
    94710,
    70749
]

[db]
connection_string = "user:pass@tcp(host:port)/database?charset=utf8mb4"
